.container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*background color for full screen needs to be in html tag*/

.bg{
    background: red; /* fallback color */
    background: linear-gradient( to bottom, rgba(4, 0, 255, 0.548), rgba(255, 174, 0, 0.829));
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.mem{
    background-color: white;
    border-radius: 50%;
    height: 15x;
    padding: 15px;
    text-align: center;
    width: 15px;
}

.phase{
    display: flex;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.pass{
    display: flex;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
}

/*Card Start here*/
.playarea{
    display: flex;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.PA-Card{
    
    margin: 40px 0 0 10px;
    
    height: 120px;
    width: 120px;
}

.card-area{
    position: relative;
    width: 80%;
    
}

.Card-LVL{
    display: flex;
    margin: 5px 0 0 0;
    gap: 55px;
}

.Card-Bottom{
    padding-top: 10px;
    text-align: center;
}
/*Card ends here*/
.SStack{
    display: flex;
    position: absolute;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    top: 90%;
    left: 5%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.sec-stack{
    padding: 40px 0 80px 45px ;
    display: flex;


}


/* Hand size starts here */

.hand{
    display: flex;
    position: absolute;
    top: 77%;
    left: 62%;
    transform: translate(-50%, -50%);

}

.containers {
    position: absolute;
    margin-left: 80px;
    top: 50%;
    left: 50%;
    width: 100%;
  }
  
  .cards {
    width: 150px;
  }
  
  .card {
    width: 130px;
    height: 180px;
    border: 1px solid #000;
    position: absolute;
    transform-origin: bottom center;
    
  }

/* Hand size ends here */
.deckArea{
    display: flex;
    position: absolute;
    top: 70%;
    right: 5%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    width: 90px;
}
.deck-back-area{
    width: 50px;
    padding: 0 15px 0 0;
    
}


.bArea{
    display: flex;
    gap: 40px;
    border: 2px solid black;
    height: 170px;
    width: 285px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}